*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.first{
    margin: auto;
}
.second{
    border: 2px solid red;
}
.third{
    text-align: center;
    background-color: aqua;
}